<h1>Get in touch with us</h1>

<form id="contactForm" [formGroup]="form" (ngSubmit)="onRegister()">
  <div class="input-group half">
    <label for="name">Name</label>
    <input type="text" name="name" formControlName="name" id="name" required />
    <div *ngIf="form.get('name')?.errors && form.get('name')?.touched">
      <p class="error-message" *ngIf="form.get('name')?.hasError('required')">
        Name is required
      </p>
    </div>
  </div>
  <div class="input-group half">
    <label for="lastname">Lastname</label>
    <input
      type="text"
      name="lastname"
      formControlName="lastname"
      id="lastname"
      required
    />
    <div *ngIf="form.get('lastname')?.errors && form.get('lastname')?.touched">
      <p
        class="error-message"
        *ngIf="form.get('lastname')?.hasError('required')"
      >
        Lastname is required
      </p>
    </div>
  </div>
  <div class="input-group full">
    <label for="email">Email</label>
    <input type="email" name="email" formControlName="email" required />
    <div *ngIf="form.get('email')?.errors && form.get('email')?.touched">
      <p class="error-message" *ngIf="form.get('email')?.hasError('required')">
        Email is required.
      </p>
      <p class="error-message" *ngIf="form.get('email')?.hasError('email')">
        This is not valid email.
      </p>
    </div>
  </div>
  <div class="input-group full">
    <label for="message">Message</label>
    <textarea
      name="message"
      cols="30"
      rows="8"
      formControlName="message"
      required
    ></textarea>
    <div *ngIf="form.get('message')?.errors && form.get('message')?.touched">
      <p
        class="error-message"
        *ngIf="form.get('message')?.hasError('required')"
      >
        Message is required
      </p>
    </div>
  </div>
  <div class="input-group full">
    <button type="submit">Send mail</button>
  </div>
</form>
