.nav-bar {
  width: 100%;
  min-height: 80px;
  background-color: #000000;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  a {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    text-decoration: none;
  }
  .active {
    color: rgb(255, 190, 70);
  }
}
