.box {
  width: 200px;
  height: 200px;
  overflow: auto;
  background-color: rgb(255, 235, 235);
}

.items--grid {

  /* Sizes */
  $small: 600px;
  $medium: 900px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;

  @media only screen and (max-width: $small) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media only screen and (min-width: $small) and (max-width: $medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  div {
    min-width: 250px;
    padding: 10px;
    box-shadow: 7px 7px 8px rgb(100, 100, 100);
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(4);
    justify-content: space-around;

    .item--name {
      font-size: 1.4rem;
    }

    .item--category {
      font-size: 1.2rem;
    }

    .item--image {
      border-radius: 10px;
    }

    .item--price {
      font-size: 1.1rem;
    }

    button {
      max-height: 25px;
      align-self: flex-end;
    }
  }
}

.error-message {
  color:rgb(253, 100, 100);
  opacity: 0;
  transition: all linear .3s;
  &.invalid {
    opacity: 1;
  }
}

hr {
  height: 0;
  border-bottom: 1px solid;

  &.valid {
    border-color: green;
  }

  &.invalid {
    border-color: red;
  }
}
